<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-item routerLink="/">Início</ion-item>
        <ion-item routerLink="/movie-list">Buscar Filmes</ion-item>
        <ion-item routerLink="/favorites">Favoritos</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>  
</ion-app>
