<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MovieMovie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div appHoverBackground>
    <h1 appHighlightTitle>Explore um universo de filmes com a MovieMovie!</h1>
    <ion-img src="assets/images/intro-image.jpeg" class="intro-image"></ion-img>
  </div>

  <ion-segment [(ngModel)]="selectedCategory" (ionChange)="onCategoryChange($event)" color="dark">
    <ion-segment-button value="now_playing">
      Em exibição
    </ion-segment-button>
    <ion-segment-button value="upcoming">
      Brevemente
    </ion-segment-button>
    <ion-segment-button value="popular">
      Boas notas
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="movie-grid">
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies | limitMovies:8">
        <ion-card class="movie-card" (click)="goToMovieDetails(movie.id)">
          <ion-img [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }}"></ion-img>
          <ion-card-content>
            <ion-card-title>{{ movie.title }}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>